<div class="comments-container">
    {{#each this}}
    <div class="comments-card">
        <div class="comments-card-header">
            <span class="comment-user">{{this.user.username}}</span>
            <span class="comment-date">{{format_date this.createdAt}}</span>
        </div>
        <div class="comments-card-body">
            <p class="comment-content">
                {{this.comment_content}}
            </p>
        </div>
    </div>
    {{/each}}
</div>
