    <div id="posts">
        <div class="posts-card">
            <div class="posts-card-header">
                <span class="post-title">{{title}}</span>
                <span class="post-time">{{user.name}}</span>
            </div>
            <div class="posts-card-body">
                <p>
                    {{post_content}}
                </p>
                <i class="fa fa-comment"><span>{{comments.length}}</span></i>
            </div>
        </div>
    </div>