<div class="edit-post">
    <h3>Edit Your Comment</h3>
    <form class="edit-form">
        <textarea placeholder="Content" class="form-content" rows="20">{{comment_content}}</textarea>
        <div class="action">
            <button type="button" data-id="{{id}}" class="btn update-btn">Update</button>
            <button type="button" data-id="{{id}}" class="btn delete-btn">Delete</button>
        </div>
    </form>
</div>
<script src="/js/edit-comment.js"></script>