<div id="login">
    <div class="login-card">
        <div class="login-card-header">
            <h2>Login</h2>
            <div class="underline"></div>
        </div>
        <div class="login-card-body">
            <form class="login-form">
                <div class="form-field">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="username" id="username" />
                </div>
                <div class="input-underline"></div>
                <div class="form-field">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="password" id="password" />
                </div>
                <div class="input-underline"></div>
                <button id="btn-submit" class="btn" style="margin: 0 auto;">LOGIN</button>
                <a href="/signup">Sign up</a>
            </form>
        </div>
    </div>
</div>
<script src="./js/login.js"></script>