{{> post-details post}}
{{> comment-details post.comments}}
<div id="comment-post">
    <div class="form-container">
        <form class="comment-form">
            <label class="form-label">Add your Comment</label>
            <textarea class="form-input"></textarea>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
<script src="/js/comment.js"></script>
