:root {
  --dark: rgb(12, 19, 26);
  --gold: rgb(240, 230, 140);
  --grey: rgb(82, 82, 82);
}

body {
  font-family: Georgia;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: #f9f9f9;
}

p {
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  list-style: none;
}

#navbar {
  background-color: var(--dark);
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}

#navbar img {
  margin-left: 20px;
}

.menu {
  height: 100%;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 10px;
  height: 100%;
  margin-right: 20px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
}

/* Login Section*/

#login {
  width: 100vw;
  height: 80vh;
  display: flex;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-card,
.posts-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65),
    2px 3px 10px rgb(240, 230, 140, 0.3);
  width: 30vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card-header {
  letter-spacing: 4px;
}

.underline {
  background: -webkit-linear-gradient(right, var(--gold), var(--dark));
  height: 2px;
  margin: -1.1rem auto 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 0;
  gap: 10px;
}

.form-field {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.form-field i {
  position: absolute;
  font-size: 25px;
}

.form-field input {
  background: #fbfbfb;
  width: 100%;
  border: none;
  padding: 5px 0 0px 30px;
  font-size: 15px;
  outline: none;
}

.login-form a {
  color: #333;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.input-underline {
  background: -webkit-linear-gradient(right, var(--gold), var(--dark));
  height: 2px;
  width: 100%;
  opacity: 0.5;
  margin: -2.2rem auto 0 auto;
}

.form-field:active,
.form-field:focus,
.form-field:hover + .input-underline {
  opacity: 1;
}

#login a {
  margin: 0 auto;
}

/* End of Login Section*/

/* Posts Section */

#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.posts-card {
  width: 80%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(240, 230, 140, 0.5),
    0px 2px 5px rgba(0, 0, 0, 0.1);
}

.posts-card-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.post-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  word-break: break-all;
  margin-bottom: 0;
}

.post-author,
.post-date {
  font-size: 14px;
  color: #999;
}

.post-author {
  margin-right: 5px;
}

.posts-card-body {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  width: 100%;
}

.posts-card-body a {
  width: 100%;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.posts-card-body i {
  padding-right: 5px;
}

/* ** Dashboard ***/
#dashboard {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.introduction {
  width: 100%;
  text-align: center;
}

.introduction h2 {
  width: fit-content;
  margin: 40px auto;
  position: relative;
}

.introduction h2::before {
  content: "";
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-image: -webkit-linear-gradient(right, var(--gold), var(--dark));
}

.activity-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(var(--dark), var(--gold)) center/2px 90% no-repeat;
  grid-gap: 16px;
  margin: 5px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px -1px 2px rgba(255, 255, 255, 0.3);
}

.activity-container h3 {
  text-align: center;
}

.posts-section,
.comments-section {
  margin: 10px 10px;
}

.posts,
.comments {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  height: inherit;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.posts .posts-title h4,
.comments .comments-title h4 {
  word-wrap: break-word;
  word-break: break-all;
}

.format-date {
  font-size: 12px;
  color: #999;
  display: block;
}

.new-post {
  width: 80%;
  margin: 0 auto;
}
.new-post h3 {
  margin-top: 40px;
}

.new-post .post-form {
  margin-top: 20px;
}

.new-post .form-title,
.new-post .form-content {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
  resize: vertical;
}

.new-post .form-content {
  height: 250px;
}

/* Comments */

.comments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

/* Style for the comments-card */
.comments-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 800px;
  margin: 20px;
  @media (min-width: 470px) {
    width: calc(50% - 10px);
  }
}

/* Style for the comments-card-header */
.comments-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Style for the comment-user */
.comment-user {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

/* Style for the comment-date */
.comment-date {
  font-size: 14px;
  color: #666;
}

/* Style for the comments-card-body */
.comments-card-body {
  font-size: 14px;
  line-height: 1.5;
}

/* Style for the comment-content */
.comment-content {
  margin-top: 10px;
}

/* Form */
#comment-post {
  display: flex;
  justify-content: center;
}

/* Style for the form-container */
.form-container {
  background-color: rgba(205, 205, 205);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 80%; /* form width */
  max-width: 800px; /* maximum width */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

/* Style for the form-label */
.form-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Style for the form-input */
.form-input {
  width: 100%;
  height: 80px;
  padding: 10px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Style for the btn */
.btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.update-btn,
.delete-btn,
.add-btn {
  color: rgb(240, 230, 140);
  margin-bottom: 20px;
  width: 150px;
}

.btn-login {
  background-color: rgb(240, 230, 140, 0.7);
}

/* Edit Post */
.edit-post {
  width: 80%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
  margin: 0 auto;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .posts-card-header {
    flex-wrap: wrap;
    align-items: center;
  }
  .post-title {
    font-size: 20px;
  }
  .post-author,
  .post-date {
    font-size: 12px;
    margin-top: 5px;
  }
}
